name: Notify Parents on Commit

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
    dispatch-repos:
        strategy:
            matrix:
                repo: ['blackfisch/blackfisch.me', 'blackfisch/arma-log-analyzer', 'blackfisch/sqf.io-mirror']

        runs-on: ubuntu-latest

        steps:
          - name: Dispatch Repos
            uses: peter-evans/repository-dispatch@v1
            with:
                token: ${{ secrets.REPO_ACCESS_TOKEN }}
                repository: ${{ matrix.repo }}
                event-type: updated-submodule
